<app-alert [title]="'Confirm'" [alert]="utlityService.getalert() == 'deleteimage'" (close)="utlityService.hidealert()">
  <div *ngIf="deleteItem" class="flex p-3 flex-col justify-between items-center min-h-full w-full gap-3">
     <img src="{{deleteItem?.img}}" alt="" 
            class="bg-gray-50 size-50 "
            loading="lazy">
    <button class="w-full rounded py-1 px-3 text-white bg-red-500 
      hover:bg-red-800 " (click)="deleteimagec()">
      {{deleteloading ? ' Deleting ' : ' Delete '}}
    </button>
  </div>
</app-alert>

  <label for="fileUpload" class="mb-3 flex flex-col w-full p-5 py-15 group rounded border-3 border-blue-200 border-dashed hover:bg-gray-100 hover:border-gray-300">
    <div class="flex items-center justify-center">
        <p *ngIf="!imgloading" class="pt-1 tracking-wider text-gray-400 group-hover:text-gray-600">ছবি যুক্ত করুন</p>
        <div *ngIf="imgloading" class="w-full loader"></div>
    </div>
    <input accept=".jpg,.png,.jpeg,.webp" multiple type="file" id="fileUpload" name="fileUpload" (change)="onFileChange($event)" class="hidden opacity-0" />
  </label>
  <div class="w-full grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  <div *ngFor="let item of files" class="relative border border-gray-300 rounded p-4 flex flex-col items-center gap-3 bg-white">
    <a class="z-1 absolute top-3 right-3 cursor-pointer " 
              (click)="deleteimage(item)">
        <svg fill="currentColor" class="size-4 text-red-500 " viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
        </svg>
    </a>  
     <img src="{{item?.img}}" alt=" " 
            class="bg-gray-50 size-30 "
            loading="lazy">   
    <div class="flex w-full gap-2 mt-auto">
      <button (click)="copyTxt(item.img)" class="w-full p-1.5 rounded bg-emerald-500 text-white text-xs " >Link</button>
    </div>
  </div>
</div>